body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(31, 25, 38);
}

.planets-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* background-color: yellow; */
  transform: scaleX(5);
  /* ^ applies ot children and needs to be overriden  */
}

.sun {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(248, 224, 163);
  box-shadow: 0 0 60px rgb(253, 203, 163), 0 0 98px rgb(184, 160, 26);
  /* ^ simulates the corona effect  */
  transform: scaleX(0.2);
  /* ^ overrides the stretch from the container div transform */
  position: absolute;
  /* ^ overrides stacking effect of the sun and planets because they're on the same line  */
}

.planet {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: red;
  transform: scaleX(0.2);
  /* ^ overrides the stretch from the container div transform */
}

.planet:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
}

#planet-1 {
  animation: planetRender1 12s infinite linear;
}

#planet-1:after {
  background-color: #25258d;
  animation: planetRenderRotater1 12s infinite linear;
}

@keyframes planetRender1 {
  0% {
    background: linear-gradient(-90deg, rgb(86, 86, 253) 50%, rgb(60, 60, 175) 50%);
  }

  12% {
    background: linear-gradient(-90deg, rgb(86, 86, 253) 50%, rgb(60, 60, 175) 50%);
  }
  12.1% {
    background: linear-gradient(90deg, rgb(86, 86, 253) 50%, rgb(60, 60, 175) 50%);
  }

  62% {
    background: linear-gradient(90deg, rgb(86, 86, 253) 50%, rgb(60, 60, 175) 50%);
  }
  62.1% {
    background: linear-gradient(-90deg, rgb(86, 86, 253) 50%, rgb(60, 60, 175) 50%);
  }

  100% {
    background: linear-gradient(-90deg, rgb(86, 86, 253) 50%, rgb(60, 60, 175) 50%);
  }
}

@keyframes planetRenderRotater1 {
  0% {
    transform: scaleX(-0.2);
    background-color: rgb(86, 86, 253);
  }

  12% {
    transform: scaleX(-1);
    background-color: rgb(86, 86, 253);
  }
  12.1% {
    transform: scaleX(1);
    background-color: rgb(86, 86, 253);
  }

  37% {
    transform: scaleX(0);
    background-color: rgb(86, 86, 253);
  }
  37.1% {
    transform: scaleX(0);
    background-color: rgb(60, 60, 175);
  }

  62% {
    transform: scaleX(-1);
    background-color: rgb(60, 60, 175);
  }

  87% {
    transform: scaleX(0);
    background-color: rgb(60, 60, 175);
  }
  87.1% {
    transform: scaleX(0);
    background-color: rgb(86, 86, 253);
  }

  100% {
    transform: scaleX(-0.2);
    background-color: rgb(86, 86, 253);
  }
}

#planet-2 {
  background-color: red;
  animation: planetRender2 12s infinite linear;
}

#planet-2:after {
  /* background-color: #25258d; */
  animation: planetRenderRotater2 12s infinite linear;
}

@keyframes planetRender2 {
  0% {
    background: linear-gradient(90deg, rgb(95, 185, 95) 50%, rgb(65, 128, 65) 50%);
  }

  40% {
    background: linear-gradient(90deg, rgb(95, 185, 95) 50%, rgb(65, 128, 65) 50%);
  }
  40.1% {
    background: linear-gradient(-90deg, rgb(95, 185, 95) 50%, rgb(65, 128, 65) 50%);
  }

  90% {
    background: linear-gradient(-90deg, rgb(95, 185, 95) 50%, rgb(65, 128, 65) 50%);
  }
  90.1% {
    background: linear-gradient(90deg, rgb(95, 185, 95) 50%, rgb(65, 128, 65) 50%);
  }

  100% {
    background: linear-gradient(90deg, rgb(95, 185, 95) 50%, rgb(65, 128, 65) 50%);
  }
}

@keyframes planetRenderRotater2 {
  0% {
    transform: scaleX(0.5);
    background-color: rgb(95, 185, 95);
  }

  15% {
    transform: scaleX(0);
    background-color: rgb(95, 185, 95);
  }
  15.1% {
    transform: scaleX(0);
    background-color: rgb(65, 128, 65);
  }

  40% {
    transform: scaleX(-1);
    background-color: rgb(65, 128, 65);
  }
  40.1% {
    transform: scaleX(1);
    background-color: rgb(65, 128, 65);
  }

  65% {
    transform: scaleX(0);
    background-color: rgb(65, 128, 65);
  }
  65.1% {
    transform: scaleX(0);
    background-color: rgb(95, 185, 95);
  }

  90% {
    transform: scaleX(-1);
    background-color: rgb(95, 185, 95);
  }
  90.1% {
    transform: scaleX(1);
    background-color: rgb(95, 185, 95);
  }

  100% {
    transform: scaleX(0.5);
    background-color: rgb(95, 185, 95);
  }
}

#planet-3 {
  background-color: green;
  animation: planetRender3 12s infinite linear;
}

#planet-3:after {
  /* background-color: #25258d; */
  animation: planetRenderRotater3 12s infinite linear;
}

@keyframes planetRender3 {
  0% {
    background: linear-gradient(-90deg, rgb(255, 66, 113) 50%, rgb(168, 47, 77) 50%);
  }

  49% {
    background: linear-gradient(-90deg, rgb(255, 66, 113) 50%, rgb(168, 47, 77) 50%);
  }
  49.1% {
    background: linear-gradient(90deg, rgb(255, 66, 113) 50%, rgb(168, 47, 77) 50%);
  }

  99% {
    background: linear-gradient(90deg, rgb(255, 66, 113) 50%, rgb(168, 47, 77) 50%);
  }
  99.1% {
    background: linear-gradient(-90deg, rgb(255, 66, 113) 50%, rgb(168, 47, 77) 50%);
  }

  100% {
    background: linear-gradient(-90deg, rgb(255, 66, 113) 50%, rgb(168, 47, 77) 50%);
  }
}

@keyframes planetRenderRotater3 {
  0% {
    transform: scaleX(1);
    background-color: rgb(168, 47, 77);
  }

  25% {
    transform: scaleX(0);
    background-color: rgb(168, 47, 77);
  }
  25.1% {
    transform: scaleX(0);
    background-color: rgb(255, 66, 113);
  }

  49% {
    transform: scaleX(-1);
    background-color: rgb(255, 66, 113);
  }
  49.1% {
    transform: scaleX(1);
    background-color: rgb(255, 66, 113);
  }

  75% {
    transform: scaleX(0);
    background-color: rgb(255, 66, 113);
  }
  75.1% {
    transform: scaleX(0);
    background-color: rgb(168, 47, 77);
  }

  100% {
    transform: scaleX(1);
    background-color: rgb(168, 47, 77);
  }
}

.route {
  width: 100%;
  height: 100%;
  /* ^ makes it the same dimensions as the parent container  */
  animation: rotate 12s infinite linear;
  /* ^ calls animation below with @keyframes definition */
  position: absolute;
  /* ^ overrides stacking effect of the planets because they're on the same line  */
}

.planet-container {
  width: 60px;
  height: 60px;
  /* ^ keeps planet path in to full parent container  */
  animation: correct 12s infinite linear;
  /* ^ counters the stretched transformation that happens in the route container  */
  position: absolute;
}

#planet-container-2 {
  left: 85px;
}

#planet-container-3 {
  left: 42.5px;
  top: 100px;
}
/* ^ both of these ids help differientate some spacing between the planets  */

.planet-index {
  width: 100%;
  height: 100%;
  position: absolute;
}

#planet-index-1 {
  animation: hidePlanet1 12s infinite;
}

#planet-index-2 {
  animation: hidePlanet2 12s infinite;
}

#planet-index-3 {
  animation: hidePlanet3 12s infinite;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
  /* ^ 0% is the starting point of the 12s duration indicated above, 100% is the end point */
}

@keyframes correct {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes hidePlanet1 {
  0% {
    z-index: 999;
    transform: scale(0.8);
  }
  12% {
    z-index: -999;
    transform: scale(0.8);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    z-index: 999;
    transform: scale(0.8);
  }
}

@keyframes hidePlanet2 {
  0% {
    z-index: -999;
    transform: scale(0.95);
  }
  50% {
    z-index: 999;
    transform: scale(1.2);
  }
  90% {
    transform: scale(0.9);
  }
  100% {
    z-index: -999;
    transform: scale(0.95);
  }
}

@keyframes hidePlanet3 {
  0% {
    z-index: 999;
    transform: scale(1.2);
  }
  50% {
    z-index: -999;
    transform: scale(0.8);
  }
  100% {
    z-index: 999;
    transform: scale(1.2);
  }
}
